/*todo*/
@media (min-width: 1025px) and (min-height: 1201px) {
    .register-tag {
        text-align: center;
        z-index: 2;
        position: fixed;
        top: 15vw;
        left: 35vw;
        right: 35vw;
        font-size: 5vw;
        width: 30vw;
        font-family: "Marker Felt", fantasy;
    }

    #next-button {
        z-index: 3;
        position: fixed;
        border: black solid 0.15vw;
        height: 3vw;
        text-align: center;
        top: 25vw;
        width: 8vw;
        left: 46vw;
        color: black;
        font-weight: bolder;
        padding-top: 0.7vh;
    }

    #next-button:hover {
        transition: background-color 200ms;
        background-color: lightblue;

    }

    #next-button2 {
        z-index: 3;
        position: fixed;
        border: black solid 0.15vw;
        height: 3vw;
        text-align: center;
        top: 32.5vw;
        width: 8vw;
        left: 46vw;
        color: black;
        font-weight: bolder;
        padding-top: 0.7vh;
    }

    #next-button2:hover {
        transition: background-color 200ms;
        background-color: lightblue;
    }
}

/*todo default desktop*/
@media (min-width: 1025px) and (max-width: 2000px) and (max-height: 1200px) {
    .register-tag {
        text-align: center;
        z-index: 2;
        position: fixed;
        top: 15vw;
        left: 35vw;
        right: 35vw;
        font-size: 5vw;
        width: 30vw;
        font-family: "Marker Felt", fantasy;
    }

    #next-button {
        z-index: 3;
        position: fixed;
        border: black solid 0.15vw;
        height: 3vw;
        text-align: center;
        top: 25vw;
        width: 8vw;
        left: 46vw;
        color: black;
        font-weight: bolder;
        border-radius: 0.3vw;
    }

    #next-button:hover {
        transition: background-color 200ms;
        background-color: lightblue;

    }

    #next-button2 {
        z-index: 3;
        position: fixed;
        border: black solid 0.15vw;
        height: 3vw;
        text-align: center;
        top: 32.5vw;
        width: 8vw;
        left: 46vw;
        color: black;
        font-weight: bolder;
        border-radius: 0.3vw;
    }

    #next-button2:hover {
        transition: background-color 200ms;
        background-color: lightblue;

    }

    #switch-to-login-button {
        border: black outset 0.125vw;
        box-shadow: black 0.2vw 0.2vw 2vw;
        position: fixed;
        z-index: 2;
        top: 4vh;
        left: 2vw;
        transform: rotate(45deg);
        width: 5vw;
        height: 5vw;
        background-color: #a6ccff;
        color: black;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #switch-to-login-button-hitbox:hover {
        transition: background-color 200ms;
        background-color: rgba(147, 182, 230, 50%);
    }

    #switch-to-login-button-hitbox {
        position: fixed;
        z-index: 4;
        cursor: pointer;
        width: 5vw;
        height: 5vw;
        transform: rotate(45deg);
        top: 4vh;
        left: 2vw;
    }


    #switch-to-login-button-tag {
        position: fixed;
        z-index: 2;
        top: 7vh;
        left: 3.4vw;
        color: black;
        font-weight: bolder;
    }

    #email-input {
        position: fixed;
        top: 22.3vw;
        left: 41.5vw;
        width: 17vw;
        height: 2vw;
        background-color: #ffffff;
        color: black;
        z-index: 3;
        font-weight: bolder;
        border-radius: 1vw;
        border: #000000 solid 0.15vw;
        text-align: center;
    }

    #green-checkmark {
        z-index: 3;
        position: fixed;
        width: 1.7vw;
        height: 1.7vw;
        top: 22.4vw;
        left: 56.3vw;
    }

    #red-x {
        z-index: 3;
        position: fixed;
        width: 2vw;
        height: 2vw;
        top: 22.1vw;
        left: 56.3vw;
    }

    #green-checkmark1 {
        z-index: 3;
        position: fixed;
        width: 2vw;
        height: 2vw;
        top: 22.1vw;
        left: 56.3vw;
    }

}

/*todo*/
@media (min-width: 801px) and (max-width: 1024px) {
    .register-tag {
        z-index: 2;
        position: fixed;
        top: 23.5vw;
        left: 35vw;
        font-size: 8vw;
        width: 30vw;
        font-family: "Marker Felt", fantasy;
        text-align: center;
    }


    #next-button {
        z-index: 3;
        position: fixed;
        border: black solid 0.15vw;
        height: 5vw;
        text-align: center;
        top: 41vw;
        width: 12vw;
        left: 44vw;
        color: black;
        font-weight: bolder;
        padding-top: 0;
        padding-left: 2.5vw;
        font-size: 3vw;
    }

    #next-button:hover {
        transition: background-color 200ms;
        background-color: lightblue;

    }

    .email-input {
        position: fixed;
        top: 35.8vw;
        left: 37.5vw;
        width: 25vw;
        height: 3.5vw;
        background-color: #ffffff;
        color: black;
        z-index: 3;
        font-weight: bolder;
        border-radius: 1vw;
        border: #000000 solid 0.15vw;
        text-align: center;
    }

    #next-button2 {
        z-index: 3;
        position: fixed;
        border: black solid 0.15vw;
        height: 5vw;
        text-align: center;
        top: 48vw;
        width: 12vw;
        left: 44vw;
        color: black;
        font-weight: bolder;
        padding-top: 0;
        padding-left: 2.5vw;
        font-size: 3vw;
    }

    #next-button2:hover {
        transition: background-color 200ms;
        background-color: lightblue;

    }
}

/*todo*/
@media (min-width: 501px) and (max-width: 800px) {
    .register-tag {
        z-index: 2;
        position: fixed;
        top: 30vw;
        left: 35vw;
        font-size: 8vw;
        font-family: "Marker Felt", fantasy;
        text-align: center;
    }

    #next-button {
        z-index: 3;
        position: fixed;
        border: black solid 0.15vw;
        height: 5vw;
        text-align: center;
        top: 50vw;
        width: 12vw;
        left: 44vw;
        color: black;
        font-weight: bolder;
        padding-top: 0;
        padding-left: 2.5vw;
        font-size: 3vw;
    }

    #next-button:hover {
        transition: background-color 200ms;
        background-color: lightblue;

    }

    .email-input {
        position: fixed;
        top: 43.8vw;
        left: 37.5vw;
        width: 25vw;
        height: 4.5vw;
        background-color: #ffffff;
        color: black;
        z-index: 3;
        font-weight: bolder;
        border-radius: 1vw;
        border: #000000 solid 0.15vw;
        text-align: center;
    }

    #next-button2 {
        z-index: 3;
        position: fixed;
        border: black solid 0.15vw;
        height: 5vw;
        text-align: center;
        top: 54vw;
        width: 12vw;
        left: 44vw;
        color: black;
        font-weight: bolder;
        padding-top: 0;
        padding-left: 2.5vw;
        font-size: 3vw;
    }

    #next-button2:hover {
        transition: background-color 200ms;
        background-color: lightblue;

    }
}

/*todo*/
@media (min-width: 301px) and (max-width: 500px) {
    .register-tag {
        z-index: 2;
        position: fixed;
        top: 43vw;
        left: 35vw;
        font-size: 8vw;
        font-family: "Marker Felt", fantasy;
    }

    #next-button {
        z-index: 3;
        position: fixed;
        border: black solid 0.15vw;
        height: 7vw;
        text-align: center;
        top: 70vw;
        width: 20vw;
        left: 40vw;
        color: black;
        font-weight: bolder;
        padding-top: 0;
        padding-left: 4vw;
        font-size: 4vw;
    }

    #next-button:hover {
        transition: background-color 200ms;
        background-color: lightblue;

    }

    .email-input {
        position: fixed;
        top: 58vw;
        left: 32.5vw;
        width: 35vw;
        height: 5.5vw;
        background-color: #ffffff;
        color: black;
        z-index: 3;
        font-weight: bolder;
        border-radius: 1vw;
        border: #000000 solid 0.15vw;
        text-align: center;
    }

    #next-button2 {
        z-index: 3;
        position: fixed;
        border: black solid 0.15vw;
        height: 7vw;
        text-align: center;
        top: 75vw;
        width: 20vw;
        left: 40vw;
        color: black;
        font-weight: bolder;
        padding-top: 0;
        padding-left: 4vw;
        font-size: 4vw;
    }

    #next-button2:hover {
        transition: background-color 200ms;
        background-color: lightblue;

    }
}

/*todo*/
@media (min-width: 280px) and (max-width: 300px) {
    .register-tag {
        z-index: 2;
        position: fixed;
        top: 60vw;
        left: 42vw;
        font-size: 8vw;
        font-family: "Marker Felt", fantasy;
    }
}